.Modal {
    all: unset;
    position: absolute;
    top: 25vh;
    bottom: 25vh;
    left: 25vw;
    right: 25vw;
    background-color: var(--backgroud-primary);
    border-radius: 10px;
    box-shadow: 5px 5px 20px #66666650;
    color: var(--font-primary);
    padding: 20px;
}

@media screen and (max-width: 900px) {
    .Modal {
        left: 10vh;
        right: 10vh;
    }
}

@media screen and (max-width: 600px) {
    .Modal {
        left: 2.5vh;
        right: 2.5vh;
    }
}

@media screen and (max-height: 900px) {
    .Modal {
        top: 15vh;
        bottom: 15vh;
    }
}

@media screen and (max-height: 600px) {
    .Modal {
        top: 10vh;
        bottom: 10vh;
    }
}

.Overlay {
    position: fixed;
    inset: 0;
    background-color: var(--backgroud-primary);
    border: none;
}
